<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hdp="http://www.springframework.org/schema/hadoop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">
 
	<description>spring integrate</description>
	
	<context:component-scan base-package="me.demo.hadoop.hbase.kundera" /> 
  
	<bean id="userService" class="me.demo.hadoop.hbase.kundera.service.UserServiceImpl" scope="singleton">
	<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="me.demo.hadoop.hbase.kundera.dao.UserDaoImpl" scope="singleton">
	</bean> 
	
	<bean id="pum" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>META-INF/persistence.xml</value>
			</list>
		</property>
	</bean> 
	
	<bean id="emf-p" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="hbase-pu" />
		<property name="loadTimeWeaver">
			<bean
				class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
		</property>
	</bean> 
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"></bean>
	
</beans>
